header {
    padding: 20px; /**responsavel pelo peenchimento interno/tamanho**/
    background-color: #c73427;
    color: rgb(255, 255, 255);
    display: flex; /*tornando os itens lado a lado*/
    justify-content: center;
    gap: 50px;/*espaco entre os elementos*/
    align-items: center; /*alinhamento vertical dos itens */

}
header i {
    font-size: 60px;
}
.fa-user {
    font-size: 25px;
    color: aliceblue;
}
.listas ul {
    display: flex;/*tornando as li flex*/
    justify-content: center;/*ddeixando alas centralizadas */
    gap: 20px;/*deixando espacos entre elas*/
}
.listas ul li :hover{
    color: black;
    transition: 0.8s;
}
.listas ul li {
    list-style: none;
}
.listas ul li a {
    text-decoration: none;
    color: aliceblue;
}

.sessao01 {
    padding: 300px;
    background-image: url(imagens/beautiful-home-2826052_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
}
.sessao01 button {
    padding: 10px;
    width: 150px;
    background-color: #c73427;
    border-radius: 20px;
    border-radius: 10px;
}
.sessao01 button:hover {
    background-color: #ffee00;
    color: black;
    transition: 0.8s;
} 
.sessao02 {
    padding: 150px;
    background-color: #fa573a;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}
.sessao02 div {
    width: 350px;
    height: 300px;
    background-color: #d84f10;
}
.sessao02 div p {
    font-size: 25px;
    color: black;
    
}
.caixa1 {
    background-image: url(imagens/home-1680800_1280.jpg);
    background-size: cover;
}
.caixa2 {
    background-image: url(imagens/furniture-998265_1280.jpg);
    background-size: cover;
}
.caixa3 {
    background-image: url(imagens/living-room-1835923_1280.jpg);
    background-size: cover;
}
.sessao03 {
    padding: 200px;
    background-color: #fc8964;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    align-items: center;
}
.sessao03 div img {
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
.sessao03 div p {
    font-size: 40px;
    font-weight: 400;
    color: black;
}
.sessao03 span {
    color: #f8240f;
    font-size: 40px;
    font-weight: 600;
}
.sessao04 {
    padding: 160px;
    background-color: #fdbc8f;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
}
.sessao04 iframe {
    border-radius: 15px;
}
.sessao04 p {
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: rgba(194, 40, 40, 0.377);
    padding: 10px;
}
footer {
    background-color: rgb(153, 50, 50);
    padding: 30px;

    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 30px;
}
footer p {
    font-size: 26px;
}
footer i {
   color: rgb(0, 0, 0);
   font-size: 25px;
}
* { /*seletor universal sempre usar*/
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;/*scroll suave nas transicoes da listas */
    /*font-family: ;*/

}
.sessao04 iframe:hover{
    box-shadow: 20px 20px 30px black;
    transition: 0.8s;
}