header {
    padding: 25px;
    /**responsavel pelo peenchimento interno/tamanho**/
    background-color: #01a3eb;
    color: rgb(255, 255, 255);
    display: flex;
    /*tornando os itens lado a lado*/
    justify-content: center;
    gap: 50px;
    /*espaco entre os elementos*/
    align-items: center;
    /*alinhamento vertical dos itens */

}

header i {
    font-size: 60px;
}
header ul li {
    color: rgb(255, 255, 255);
    
}

.listas ul {
    display: flex;
    /*tornando as li flex*/
    justify-content: center;
    /*ddeixando alas centralizadas */
    gap: 20px;
    /*deixando espacos entre elas*/
}

.listas ul li {
    list-style: none;
}
.listas ul li :hover {
transition: 0,08s;
color: black;
}
.listas ul li a {
    text-decoration: none;
    color: aliceblue;
}

.sessao01 {
    padding: 150px;
    background-color: #0192d8;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}
.sessao01 i {
    font-size: 30px;

}
.sessao02 i {
    font-size: 30px;

}

.sessao01 div {
    width: 380px;
    height: 600px;
    background-color: #0181c6;
    border-radius: 10px;
}

.sessao01 div p { 
    color: aliceblue;
    font-size: 20px;
    display: contents;
    justify-content: center;
}
.sessao01 div h3 {
    color: aliceblue;
    font-size: 25px;
}





.caixa1 img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.caixa2 img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.caixa3 img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}
.sessao01 span {
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
}




.sessao02 {
    padding: 150px;
    background-color: #0070b3;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.sessao02 div {
    width: 380px;
    height: 600px;
    background-color: #0070b3;
    border-radius: 10px;
}
.sessao02 img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}
.sessao02 p {
     color: aliceblue;
     font-size: 20px;
     display: contents;
     justify-content: center;

}
.sessao02 div:hover {
    box-shadow: 20px 20px 30px black;
    transition: 0.8s;
}

.contatos-00{
    background-color:  #0070b3
    ;
    padding: 60px;
    color: white;
    
}

.contatos-01{
    background-color:  #0070b3;
    padding: 15px;
    font-weight: 900;
    color: white;
}



.contatos-02 {
    background-color:#0070b3;
    padding: 10px;
    color: white;
    font-weight: 900;
}

.contatos-02 ul {
    justify-content: start;
    gap: 10px;
    display: flex;
    align-items: start;
    padding: 8px;
    list-style: none;
    
}

.contatos-03 {
    background-color: #0070b3;
    padding: 10px;
    color: white;
    font-weight: 900;
}

.contatos-03 ul {
    justify-content: start;
    gap: 10px;
    display: flex;
    align-items: start;
    padding: 8px;
    list-style: none;
}

.contatos-04 {
    background-color: #0070b3;
    padding: 10px;
    color: white;
    font-weight: 900;
}

.contatos-04 ul {
    justify-content: start;
    gap: 10px;
    display: flex;
    align-items: start;
    padding: 8px;
    list-style: none;
}

.contatos-05 {
    background-color: #0070b3;
    padding: 10px;
    color: white;
    font-weight: 900;
}

.contatos-05 ul {
    justify-content: start;
    gap: 10px;
    display: flex;
    align-items: start;
    padding: 8px;
    list-style: none;
}

.contatos-06 {
    background-color: #0070b3;
    padding: 10px;
    color: white;
    font-weight: 900;
}

.contatos-06 ul {
    background-color: #0070b3;
    padding: 10px;
}

.contatos-06 ul {
    justify-content: start;
    gap: 10px;
    display: flex;
    align-items: start;
    padding: 8px;
    list-style: none;
}

.contatos-07{
    background-color: #0070b3;
    padding: 10px;
    color: white;
    font-weight: 900;
}

.contatos-07 ul{
    justify-content: start;
    gap: 8px;
    display: flex;
    align-items: start;
    padding: 3px;
    list-style: none;
}


.contatos-08 {
    background-color: #0070b3;
    padding: 5px;
    color: white;
    font-weight: 900;
}

.contatos-08 ul {
    justify-content: start;
    gap: 10px;
    display: flex;
    align-items: start;
    padding: 8px;
    list-style: none;
}







/*footer*/
footer {
    background-color: #005fa0;
    padding: 30px;

    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 30px;
}
footer p {
    font-size: 30px;
}
footer i {
   color: rgb(255, 255, 255);
   font-size: 25px;
}
* { /*seletor universal sempre usar*/
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;/*scroll suave nas transicoes da listas */
    /*font-family: ;*/
    
}