* {
    margin: 0%;
    padding: 0%;
}
body {
    background-color: #91d112;
    display: flex;
    justify-content: center;
    align-items: baseline;
    align-items: center;
    margin-top: 80px;
}
.div-form {
    background-color: #a6dd1b;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    width: 350px;
    height: 550px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px; /*margen inferior */
    font-weight: bold;
}
.dombosco {
    padding: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: 3px solid #fbff00;
}
.btn-form {
    background-color: #d4f462; /**/
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.btn-form:hover {
    background-color: #000000;
    transition: 0.8s;

}
h2, p {
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    text-align: center;
    color: #000000;
}